body {
    background-color: antiquewhite;
    color:black;
}
nav {
    background-color: bisque
    currentColor black;
    border: 6px solid black;
}

header {
    background-color: cadetblue;
    color: antiquewhite;
    border: 6px solid black;
}

img {
    width: 420px;
    height: 260px;
    border: 6px solid antiquewhite;
}

h1 {
    color: antiquewhite;
}